body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer"
}

header {
    background-color: #8b575c;
    color: white;
    padding: 20px;
    grid-area: header;
    text-align: center;
}

nav {
    background-color: #D69F7E;
    padding: 10px 15px;
    justify-content: space-around;
    grid-area: nav;
    display: flex;
        
}

nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

nav :hover {
    opacity: 1;
    pointer-events: auto;

}

nav :hover {
    background-color: #575757;
}


main {
    background-color: #F6BDD1;
    grid-area: main;
    width: 100px 100px;
    padding-bottom: 670px;
}

aside {
    background-color: lightgreen;
    grid-area: aside;
}

footer {
    background-color: #f6e4f6;
    color: white;
    grid-area: footer;
}

